#gameCanvasContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* No size rules for canvas! */
#gameCanvasContainer canvas {
  display: block;
  /* No width or height! Let Phaser handle scaling */
}
